* {
    box-sizing: border-box;
}

.parent {
    position: relative;
    height: 1000px;
    width: 1500px;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
}

.child {
    position: absolute;
    width: 1158px;
    height: 300px;
    left: 165px;
    top: 350px;
    background: #FFFFFF;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.img1 {
    position: absolute;
    top: -30px;
    height: 300px;
    width: 1800px;

}

.img2 {
    position: absolute;
    bottom: -30px;
    height: 300px;
    width: 1800px;

}
